<app-navbar></app-navbar>

<div class="container py-5">
    <div class="card card-container">
        <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->

        <form (ngSubmit)="changePassword()" class="form-signin" ngNativeValidate>
            <input name="newPassword" [(ngModel)]="newPassword" type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
            <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
            <div class="error-message">{{ errorMessage }}</div> <br>
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Change Password</button>
        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->
