<!-- NAVBAR -->
<app-navbar frontpage="true" path=""></app-navbar>

<!-- Showcase -->
<section class="bg-light text-dark p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="">Write <span class="text-warning">Your Stories</span></h1>
                <p class="lead my-4">Share your writing with the universe
                    and let each post be one its stars. Explore the power of writting with everyone everywhere.</p>
                    <button class="btn-success btn-lg" (click)="register($event)">Get Started</button>
            </div>
            <img class="img-fluid w-50 rounded-circle d-none d-sm-block"src="../../../assets/img/steff.jpeg" alt="">
        </div>
    </div>
</section>

<!-- About Us -->
<section id="about" class="bg-success text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="col-md p-5">
                <h1>About Us</h1>
                <p>This started as class project. Initially we thought 
                    about doing a simulation, but our friend Steff was
                    big Into writing and we decided to dedicate the site to them.
                </p>
                <p>We believe in the power of community and collaboration,
                    and we encourage you to engage with us and share your thoughts and ideas. 
                    Our goal is to create a space where anyone can connect, And learn from each other.
                </p>
            </div>

            <div class="col-md">         
                <iframe class="main-vid" src="https://www.youtube.com/embed/vyVpRiqOvt4" allowfullscreen></iframe>
                <!-- <img src="../../../assets/img/video-starlight.png" class="img-fluid" alt=""> -->
            </div>
        </div>
    </div>
</section>