<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>

<div class="posts-container">
    <div class="post">
        <div class="post-author-info">
            <img src="../../../assets/img/account-icon.png" alt="Author Avatar" class="author-avatar">
            <div>
                <div class="post-author">{{currentPost.author_name}}</div>
                <div class="post-date">{{currentPost.created_at | date:'medium'}}</div>
            </div>
        </div>

        <div class="post-content">
            <h3 class="post-title">{{currentPost.title}}</h3>
            <div [innerHTML]="isExpanded ? currentPost.content : (currentPost.content | slice:0:200) + '...'" class="cart-text"></div>
            <a *ngIf="currentPost.content.length > 200" (click)="toggleReadMore()" class="read-more">
                {{ isExpanded ? 'Read Less' : 'Read More' }}
            </a>
        </div>

        <div class="post-footer">
            <a [routerLink]="['/community', currentPost.label]" class="post-label">
                #{{currentPost.label}}
            </a>
            <div class="post-stats">
                <a (click)="toggleLike()">
                    <i class="bi fs-4" [class.bi-heart]="!isLiked" [class.bi-heart-fill]="isLiked"></i>
                    <span class="counter">{{currentPost.likes}}</span>
                </a>
                <a (click)="showComments()">
                    <i class="bi bi-chat fs-4"></i>
                    <span class="counter">{{comments.length}}</span>
                </a>
                <a (click)="deletePost(currentPost)">
                    <i class="bi bi-trash-fill fs-4"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="comment-container">
    <div *ngIf="seeComments" class="comment-section">
        <div class="comment-box">
            <form (ngSubmit)="submitComment()" method="post">
                <div class="comment-form-row">
                    <textarea [(ngModel)]="newComment.body" name="body" class="comment-input" placeholder="Write a comment..." rows="2"></textarea>
                    <button class="btn btn-success submit-comment" type="submit" [disabled]="!newComment.body || newComment.body.trim() === ''">
                        <i class="bi bi-send"></i>
                        Send
                    </button>
                </div>
            </form>
        </div>

        <div class="post-comment">
            <div class="list" *ngFor="let comment of comments">
                <div class="user">
                    <div class="user-img">
                        <img src="../../../assets/img/account-icon.png" alt="User Avatar">
                    </div>
                    <div class="user-meta">
                        <div class="name">{{ comment.author_name }}</div>
                        <div class="day">{{ comment.created_at | date:'short' }}</div>
                    </div>
                </div>
                <div class="comment-post">{{ comment.body }}</div>
            </div>
        </div>
    </div>
</div>
