<app-navbar icon=false></app-navbar>
<div class="container py-5">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> <br>

        <!-- LOGIN FORM -->
        <form (ngSubmit)="gotoHome()" class="form-signin" ngNativeValidate>
            <div class="error-message">{{ errorMessage }}</div>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email address" [(ngModel)]="email" required>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" required>
    
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Log In</button>
        </form><!-- /form -->

        <a href="recovery" class="forgot-password">
            Forgot password?
        </a>
        <br>
        <p class="sign-up">New here? Sign up <a href="registration">now</a>!</p>
    </div><!-- /card-container -->
</div><!-- /container -->

